:root {
 
}

html, body, #root {
  
}

@font-face {
  font-family: 'CustomFontNormal';
  src: url('/Fonts/fontnormal.TTF') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'CustomFontBold';
  src: url('/Fonts/fontbold.TTF') format('truetype');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}